<header class="header">
  <!-- <h1>
    Welcome to Project Structure!!
  </h1> -->
  <nav>
    <!-- <div class="dropdown">
      <button class="dropbtn" routerLink="">Home</button>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Module 1</button>
      <div class="dropdown-content">
        <a routerLink="feature1">Feature 1</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Module 2</button>
      <div class="dropdown-content">
        <a [routerLink]="['feature2', 1]">Feature 2</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Scheduler</button>
      <div class="dropdown-content">
        <a routerLink="feature3">Resource View</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Patient</button>
      <div class="dropdown-content">
        <a routerLink="patient/new">New</a>
      </div>
    </div> -->
  </nav>
  <div class="logo-container">
    <img class="logo" src="../../assets/images/abbadoxlogo_Scheduler.png" alt="Logo">
  </div>
</header>