<h2>Providers</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                Role
            </th>
            <th>
                Provider Name
            </th>
            <th>
                NPI Number
            </th>
            <th>
                Specialization Id
            </th>
            <th>
                Tag
            </th>
            <th>
                Color
            </th>
            <th>
                Working Schedule
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>