@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logo{
    float: right;
}

.bg-command{
    background-color: darkgray;
    display: block;
}

.bg-transparent{
    background-color: transparent;
}

.fa-vc{
    line-height:inherit!important;
}

.v-stretch{
    width: 100%;
}