<md-sidenav-container>
    <md-sidenav mode="side" opened="true" style="width:15rem;">
        <div class="text-primary ml-2" (click)="enumValueSetting.hidden=!enumValueSetting.hidden" aria-expanded="false" aria-controls="collapseExample">
            <strong>Enum Value Settings 
                    <i *ngIf="!enumValueSetting.hidden" class="fa fa-angle-down pull-right fa-vc mr-2" aria-hidden="true"></i>
                    <i *ngIf="enumValueSetting.hidden" class="fa fa-angle-down fa-rotate-270 fa-vc pull-right mr-2" aria-hidden="true"></i>
            </strong>
        </div>
        <ul #enumValueSetting class="fa-ul ml-1" hidden>
            <li *ngFor="let configItem of configItems">
                <a [routerLink]="['enum-value', configItem.code]">
                    <i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; {{configItem.name}}
                </a>
            </li>
        </ul>
        

        <!-- <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="./account-settings">Account Settings</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./appointment-statuses">Appointment Statuses</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./general">General</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./modalities">Modalities</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./provider-role">Provider Role</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./providers">Providers</a>
            </li>
            <li class="list-group-item" >
            </li>
        </ul> -->
    </md-sidenav>
    <div class="md-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>

<!-- <div class="row">
    <div class="col-2" style="height: 100%; overflow-y: scroll;">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="./account-settings">Account Settings</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./appointment-statuses">Appointment Statuses</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./general">General</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./modalities">Modalities</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./provider-role">Provider Role</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./providers">Providers</a>
            </li>
            <li class="list-group-item" *ngFor="let configItem of configItems">
                <a [routerLink]="['enum-value', configItem.code]">{{configItem.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-10" style="position:relative;width:100%;height:100%;">
    </div>
</div> -->

<!-- <h2>Admin Dashboard</h2>

<button class="btn btn-primary" routerLink="./page1">
        Go to page 1
</button>
<button class="btn btn-primary" routerLink="./page2">
        Go to page 2
</button> -->