<div class="row">
    <div class="col-2">
        <!-- This Section is for left panel -->
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="./account-settings">Account Settings</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./appointment-statuses">Appointment Statuses</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./general">General</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./modalities">Modalities</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./provider-role">Provider Role</a>
            </li>
            <li class="list-group-item">
                <a routerLink="./providers">Providers</a>
            </li>
            <li class="list-group-item" *ngFor="let configItem of configItems">
                <a [routerLink]="['enum-value', configItem.code]">{{configItem.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <!-- This section is for container -->
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <h2>Admin Dashboard</h2>

<button class="btn btn-primary" routerLink="./page1">
        Go to page 1
</button>
<button class="btn btn-primary" routerLink="./page2">
        Go to page 2
</button> -->