<h2>Account Settings</h2>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    DB Name
                </th>
                <th>
                    Value
                </th>
                <th>
                    Is Active
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    AllowEditBlockedAppointment
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    AllowToScheduleForDifferentDOS
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    AutoFormatPatientNameToUpperCase
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    AutoPopNewPayerExternalId
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    ConsentDateUpdateTriggeredOnStatus
                </td>
                <td>
                    <select class="form-control">
                        <option value="Check-in" selected>Check-in</option>
                        <option value="Block">Block</option>
                        <option value="Cancel">Cancel</option>
                    </select>
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    DefaultConcentDateToAppointmentDate
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    LimitNumericCharsCountInPhoneMobileField
                </td>
                <td>
                    <input class="form-control" type="number" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    IsAutofillUniqueSearchResult
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    PatientPhoneNoIsRequired
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    UpdateAllNewToArrive
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    WarnOnFooterCancel
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
            <tr>
                <td>
                    VisitReasonName
                </td>
                <td>
                    <input class="form-control" type="text" name="" value="10">
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="" value="true">
                </td>
            </tr>
        </tbody>
    </table>
</div>